.page{
    display: grid;
    grid-template-areas: "header-cell"
                         "main-cell"
                         "footer-cell";
    margin: 0 auto;
    border: 1px solid;
    padding: 0px 5px;
    max-width: 1024px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    border: dashed blue
}
.page_header{
    grid-area: header-cell;
    border: 3px solid red;
}
.header_nav{
    border: 1px solid black;
    padding-top: 10px;
    display: flow-root;
}
.page_main{
    grid-area: main-cell;
    border: 1px solid purple;
}
.page_footer{
    grid-area: footer-cell;
    border: 1px solid black;
}
.page_main{
    display: grid;
    border-radius: 5px;
    padding: 0 5px;
}
.main_aisde{
    margin: 2px;
    padding:5px;
    color: #000;
    text-align: justify;
    text-justify: inter-word;

}
.main_aside--left{
grid-area: left-cell;
}
.main_aside--right{
    grid-area: right-cell;
}
.page_main--one-column{
    display: grid;
    grid-template-areas: "left-cell" "article-cell" "right-cell";
}
.page_main--one-columns-rightside{
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "left-cell" "article-cell";
}
.page_main--two-columns-leftside{
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "article-cell" "right-cell";
}
.page_main--three-columns{
    grid-template-columns:  1fr 3fr 1fr;
    grid-template-areas: "left-cell" "article-cell" "right-cell";
}
.page_header{
    margin-bottom: 2px;
    border-radius: 5px;
    padding: 0 5px;
    height: 110px;
    background-image: url('imagescss/header.png');
}
.header_link{}
.link_image-logo{
    with:100px;
}
.header_image-animation1{
    height: 100px;
    position: absolute;
    top: -30px;
    animation: animated-image1 3s;
    animation-fill-mode: forwards;
}
@keyframes animated-image1{
    from{
        left:80%;
    }
    from{
        left:30%;
    }
}
.header_image-animation2{
    height: 70px;
    position: absolute;
    top: -5px;
    animation: animated-image2 3s;
    animation-fill-mode: forwards;
}
@keyframes animated-image2{
    from{
        left:80%;
    }
    from{
        left:45%;
    }
}
.header_image-animation3{
    height: 80px;
    position: absolute;
    top: 0px;
    animation: animated-image3 3s;
    animation-fill-mode: forwards;
}
@keyframes animated-image3{
    from{
        left:80%;
    }
    from{
        left:63%;
    }
}
.header_nav{
    margin-top: 20px;
}
.nav_link{
    margin: 3px;
    border: 1px solid #fff;
    padding: 2px 4px;
    height: 20px;
    color: #ed4190;
    text-align:center;
    font-size: 17px;
    background-color: #ffffff80;
    text-decoration: none;
    box-shadow: 0 0 3px 0 #00000066,0 0 2px 0 #0000004d;
    border-radius: 3px;
}
.nav_link:hover{
    color: #fff;
    background-color: #ed4190;
}
.nav_search{
    padding-top: 3px;
    float: right;
    margin-top: -10px;
}
.form_icon-search, .form_icon-cart{
    padding: 4px;
    min-width: 30px;
    color:#fff;
    text-align: center;
    background-color: #cddc39;
    cursor: pointer;
}
.form_icon-cart{
    color: #ed4190;
}.page_footer{
    margin-top: 2px;
    border-radius: 5px;
    padding: 0 5px;
    text-align: center;
    color: #000;
}
.footer_text{
    font-weight: bold;
    color: #a832a6;
}
.footer_link{
    text-decoration: none;
    color: #ed4190;
}
.link_image-go-top{
    position:fixed;
    right: 10px;
    bottom: 5px;
    padding:10px;
    width:60px;
    z-index: 100;
}
/* Bài tập 2 */
.main_article{
    grid-area: article-cell;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.article_image, .aside_image{
    width: 100%;
}
.article_title,.aside_title, .div_title, .section_title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #F90B6D;
}
.article_title-primary, .aside_title-primary{
    line-height: 34px;
    margin: 12px 0 16px 0;
    text-transform:uppercase;
    text-align: center;
    font-size: 28px;
    position:relative;
}
.article_title-primary::before, .aside_title-primary::before {
    content: '';
    position: absolute;
    left:50%;
    bottom: -5px;
    width: 200px;
    height:4px;
    background:radial-gradient(#cddc39,#fff);
    transform:skewX(-12deg) translateX(50%);
}
.article_title-secondary, .aside_title-secondary{
    line-height: 28px;
    margin: 5px 0px 10px 0px;
    font-size: 20px;
}
.article_image{
    width: 100%;
}
.section_image{
    width: 30%;
    border:solid red;
}
.section_image--float-left{
    float:left;
}
.section_video--float-right{
    float:right;

}
.section_content--float-left{
    float:left;
    border: solid green;
}
.section_content--float-right{
    float:right;
    border: solid green;
 
}
.section_content{
    width: 70%;
    padding:0 5px;
    margin-bottom: 5px;
    text-align:justify;
}
.section_div-order-steps{
    margin-bottom: 5px;
    width:100%;
    text-align:center;
}
.photo-order-process{
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ed4190;
    padding-top: 5px;
    width:24%;
    margin: 1px;
}.photo-order-process_image{
    width:50%;
}
.photo-order-process_caption{
    color:blue;
}


